:root, [data-bs-theme=light] {
  --bs-primary: #8a9693;
  --bs-primary-rgb: 138,150,147;
  --bs-primary-text-emphasis: #373C3B;
  --bs-primary-bg-subtle: #E8EAE9;
  --bs-primary-border-subtle: #D0D5D4;
  --bs-body-font-family: Abel, sans-serif;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #8a9693;
  --bs-btn-border-color: #8a9693;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #9CA6A3;
  --bs-btn-hover-border-color: #96A19E;
  --bs-btn-focus-shadow-rgb: 21,23,22;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #A1ABA9;
  --bs-btn-active-border-color: #96A19E;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #8a9693;
  --bs-btn-disabled-border-color: #8a9693;
}

.btn-outline-primary {
  --bs-btn-color: #8a9693;
  --bs-btn-border-color: #8a9693;
  --bs-btn-focus-shadow-rgb: 138,150,147;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #8a9693;
  --bs-btn-hover-border-color: #8a9693;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #8a9693;
  --bs-btn-active-border-color: #8a9693;
  --bs-btn-disabled-color: #8a9693;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #8a9693;
}

